section {
  border: 1px solid gray;
  padding: 12px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 24px;
}
article {
  width: 500px;
  height: 600px;
  border: 1px solid gray;
  background-color: gray;
}
aside {
  width: 300px;
  height: 600px;
  border: 1px solid white;
  background-color: whitesmoke;
}
body{
  background-color: #BDB76B;
  font-family: 'Maven Pro', sans-serif;
}
header{
  width: ;
  height: 100px;
  background-color: honeydew;
  text-align: center;
  margin: 20px -12px 20px -12px;
  border-radius: 8px;
}
article,aside{
  margin: auto;
  border-radius: 8px;
  overflow: auto;
  text-align: justify;
  padding: 12px;
}
article img,aside img{
  width: 50px;
  text-align: center;
  border-radius: 5px;
  margin-left: 120px;
  text-align: center;
}
article h1, aside h1{
margin: auto;
text-align: center;
text-shadow: 4px 4px 5px gray;
padding-top: 20px;

}
 h1{
  margin-right: 500px;
  color: #9400D3;
}
header{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#banner{
   background: url("hotel.jpeg") repeat;
   width: 100%;
   height: 500px;
   margin-bottom: 24px;
   box-shadow: 4px 4px 5px gray;
   border-radius: 6px;
   margin: auto;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   transition: 0.8s;
}
#banner:hover{
  cursor: pointer;
  filter: none;
  -webkit-filter: none;
}

nav ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
}

nav li{
  margin-right: 20px;
}

nav a{
  text-decoration: none;
  color:black;
  text-transform: uppercase;
}
nav a:hover{
  color: lime;
  text-decoration: none;
}
footer{
  height: 200px;
  background-color: gray;
  color: white;
  margin: 24px -20px 0px -20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}